<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>ECharts</title>
</head>

<body>

    <div style="width:800px;height:700px" id="main"></div>


</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/echarts.js"></script>
<script src="/javascripts/china.js"></script>
<script src="/javascripts/map.js"></script>

</html>